@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:400,600,700,800');

html {position: relative; min-height: 100%;}
body {background-color:#fff; width:100%; height:100%; overflow-x:hidden; font-family: 'Open Sans', sans-serif;}
.pg-wrapper {height: 100%;}
a, a:hover, img, img:hover, button, button:hover, i, i:hover {transition: all 0.3s ease-in-out;}
a:hover, a:active, a:visited, a:focus {text-decoration:none;}
img { border:0; }

h1, h2, h3, h4, h5, h6, button, .btn {font-family: 'Montserrat', sans-serif;}

.clear, .clear1, .clear2, .clear3, .clear4, .clear5, .clear10, .clear20, .clear30, .clear40, .clear80 {clear:both;	font-size:0px; line-height:0px;}
.clear {height:0px;} .clear1 {height:1px;} .clear2 {height:2px;} .clear3 {height:3px;} .clear4 {height:4px;} .clear5 {height:5px;} .clear10 {height:10px;} .clear20 {height:20px;} .clear30 {height:30px;} .clear40 {height:40px;} .clear80 {height:80px;}

.no-padding-margin {padding:0; margin:0;}
.no-padding {padding:0;}
.no-margin {margin:0;}
.relative {position: relative;}
.absolute {position: relative;}
.fixed {position: fixed;}
.overflow-hidden {overflow: hidden;}
.overflow-visible {overflow: visible !important;}
.inline-block {display: inline-block;}
.full {width:100%; display: block; clear: both;}
form {display: block; width: 100%;}

.vh-wrapper {height:100vh; position: relative; width: 100%;}
.vh-50, .absolute-50-middle {position: absolute; top: 50%; width: 100%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); -o-transform: translateY(-50%);
}

/*vertically centered content in grid*/
.row-flex, .center-middle {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; 
-webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.col-flex {display: flex; flex-direction: column;}

.full-right-side {padding-right: 0;}
.full-left-side {padding-left: 0;}

/*#############################################*/
/*responsive image boxes for grid - medium grid*/
.grid-img-box-md {height:160px; line-height: 150px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.grid-img-box-md a {margin:0 auto !important; display:inline-block;}
.grid-img-box-md img {max-height:160px; margin: 0 auto !important; display: inline-block !important; max-width: 100%;}

/*responsive image boxes for grid - small grid*/
.grid-img-box-sm {height:80px; line-height: 70px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.grid-img-box-sm a {margin:0 auto !important; display:inline-block;}
.grid-img-box-sm img {max-height:80px; margin: 0 auto !important; display: inline-block !important; max-width: 100%;}

/*responsive image boxes for grid - large grid*/
.grid-img-box-lg {height:500px; line-height: 490px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.grid-img-box-lg a {margin:0 auto !important; display:inline-block;}
.grid-img-box-lg img {max-height:500px; margin: 0 auto !important; display: inline-block !important; max-width: 100%;}

/*responsive image boxes for grid - table method*/
.grid-tbl {display: table; width:100%; overflow:hidden; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.grid-tbl-cell {display: table-cell; height:200px; line-height: 200px; vertical-align:middle; text-align:center;}
.grid-tbl-cell a {margin:0 auto !important; display:inline-block;}
.grid-tbl-cell img {max-height:200px; margin: 0 auto !important; display: inline-block !important; max-width: 100%;}
/*#############################################*/

textarea {/*resize:vertical;*/ resize: none;}
button:focus, .btn:focus, a:focus, input:focus, .form-control:focus {outline: 0;}
button, .btn {background-image: none; text-shadow: none;}

.navbar {margin-bottom: 0;}

.footer {height: 60px; background-color: #eee; padding-top: 20px;}

/*sticky footer starts*/
/*add sticky-footer class to body to make footer sticky*/
body .sticky-footer {
  /* Margin bottom by footer height */
  padding-bottom: 60px;
}
.sticky-footer .footer {
  position: absolute; bottom: 0; width: 100%;
  /* Set the fixed height of the footer */
  height: 60px;
  background-color: #eee;
  padding-top: 20px;
}
/*sticky footer ends*/

/*if sticky header add padding to top*/
/* normally we use .navbar-fixed-top with .navbar but here we have custom*/
.navbar-fixed-top-custom {padding-top: 50px;}
.navbar-fixed-top-custom .navbar {
	top: 0; border-width: 0 0 1px;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*if transparent nav and full screen bg use following class*/
.transparent-nav {padding-top: 0;}
.transparent-nav .navbar-default {background-color: rgba(0,0,0,0.3);}
.transparent-nav .navbar-default .navbar-nav>.active>a, 
.transparent-nav .navbar-default .navbar-nav>.active>a:focus, 
.transparent-nav .navbar-default .navbar-nav>.active>a:hover
{background-color: transparent; color: #fff;}
.transparent-nav .navbar-default .navbar-nav>.open>a, 
.transparent-nav .navbar-default .navbar-nav>.open>a:focus, 
.transparent-nav .navbar-default .navbar-nav>.open>a:hover
{background-color: transparent; color: #fff;}
.transparent-nav .navbar-default a {text-shadow: none; color: #ccc;}
.transparent-nav .navbar-default .navbar-nav>li>a:focus, 
.transparent-nav .navbar-default .navbar-nav>li>a:hover 
{color: #fff;}
.transparent-nav .navbar-default .navbar-nav>li>a {color: #ccc;}
.transparent-nav .dropdown a {color: #999;}

/*for transparent nav slider will be of full height of page*/
.transparent-nav .sliderWrap {overflow: visible;}

.navbar-default {box-shadow: none; border: none; border-radius: 0; background-image: none; background-color: #eee;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {background-image: none; box-shadow: none; text-shadow:none; color: #000;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {background-image: none;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {background-image: none; background-color: #e8e8e8; color: #000;}

/*Owl Carousel General Settings*/

.sliderWrap {overflow: hidden;}
.owl-carousel {position: relative;}
.owl-nav {position: absolute; z-index: 100; left: 0; right: 0; margin-top: 0 !important; 
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); -o-transform: translateY(-50%);
	height: 0px;
	top: calc(50% - 35px);
	top: -moz-calc(50% - 35px);
	top: -webkit-calc(50% - 35px);
	top: -o-calc(50% - 35px);
}

.transparent-nav .owl-nav {top: calc(50% - 10px);}

.owl-nav [class*=owl-]:hover {background: none; background-color: transparent;}
.owl-nav .owl-prev {float: left; width: 30px; height: 30px; background: rgba(0,0,0,0.5) !important; border-radius: 100% !important; display: inline-block;}
.owl-nav .owl-next {float: right; width: 30px; height: 30px; background: rgba(0,0,0,0.5) !important; border-radius: 100% !important; display: inline-block;}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {background: rgba(0,0,0,0.8) !important;}
.owl-nav .owl-prev span, .owl-nav .owl-next span {color: #fff; font-size: 20px; display: inline-block; line-height: 18px;}

.owl-dots {margin-top: -40px; position: relative; z-index: 997;}
.owl-theme .owl-dots .owl-dot span {background: #D6D6D6;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #869791;}

.owl-carousel .item .txtBox {position: absolute; z-index: 998; left: 40px; right: 40px; top: 48%; transform: translateY(-50%);}
.owl-carousel .item .txtBox h2 {margin: 0; padding: 0; color: #fff; text-shadow: 1px 1px 10px #000;}
.owl-carousel .item .txtBox p {color: #ccc; text-shadow: 1px 1px 4px #000;}
.owl-carousel .item .txtBox a {display: inline-block; font-size: 12px; padding-left: 20px;}
.owl-carousel .item .overlay {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 2; background-color: rgba(0,0,0,0.5);}

.owl-full-screen {height:100vh;}
.owl-full-screen .item {background-size: cover; background-position:50% 50%; height:100vh; background-repeat: no-repeat;}

.owl-logos .owl-dots {margin-top: 0px;}
.owl-logos .item {height:160px; line-height: 150px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center;}
.owl-logos .item a {margin:auto !important; vertical-align:middle; display:inline-block; width: 100%;}
.owl-logos .item img {max-height:160px; margin: 0 auto !important; display: inline-block !important; width: auto !important;}

/*owl slider images fixed height - owl logos slider*/
.owl-side .owl-dots {margin-top: 0px;}
.owl-side .item {height:260px; line-height: 250px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center;}
.owl-side .item a {margin:auto !important; vertical-align:middle; display:inline-block; width: 100%;}
.owl-side .item img {max-height:260px; margin: 0 auto !important; display: inline-block !important; width: auto !important;}

/*flexslider settings*/
.flex-direction-nav a {height: 45px;}
.flexslider {border: 0; margin-bottom: 0;}
.flex-control-nav {bottom: 0px;}
/*flexslider Permanent arrows*/
.show-arrows .flex-direction-nav .flex-prev {opacity: 1; left: 5px;}
.show-arrows .flex-direction-nav .flex-next {opacity: 1; right: 12px;}
/*.flexslider:hover .flex-direction-nav .flex-next {right: 17px;}*/

.flexslider .flex-direction-nav .flex-prev {opacity: 0.5 !important;}
.flexslider .flex-direction-nav .flex-prev:hover {opacity: 1 !important;}
.flexslider .flex-direction-nav .flex-next {opacity: 0.5 !important;}
.flexslider .flex-direction-nav .flex-next:hover {opacity: 1 !important;}

.flexslider .flex-direction-nav .flex-prev, 
.flexslider:hover .flex-direction-nav .flex-prev {left: 0px !important;}

.flexslider .flex-direction-nav .flex-next,
.flexslider:hover .flex-direction-nav .flex-next {right: 0px !important;}

/*flexslider full screen*/
.fs-full-screen {height:100vh;}
.fs-full-screen .slides li {background-size: cover; background-position:50% 50%; height:100vh; background-repeat: no-repeat;}
/*Flexslider carousel - logos*/
.flexslider.carousel .flex-control-nav {bottom: -40px;}
/*Flexslider carousel responsive images boxes*/
#flex-logos.flexslider .slides li {height:150px; line-height: 140px; display: flex !important; align-items: center; overflow:hidden; vertical-align:middle; text-align:center;}
#flex-logos.flexslider .slides li a {margin:auto !important; vertical-align:middle; display:inline-block;}
#flex-logos.flexslider .slides li img {max-height:150px; margin: 0 auto !important; display: inline-block !important; width: auto !important; max-width: 100% !important;}

.slider-img-wrap {height:300px; line-height: 290px; display: flex !important; align-items: center; overflow:hidden; vertical-align:middle; text-align:center;}
.slider-img-wrap a {margin:auto !important; vertical-align:middle; display:inline-block;}
.slider-img-wrap img {max-height:300px !important; margin: 0 auto !important; display: inline-block !important; width: auto !important; max-width: 100% !important;}
.flexslider.gallery .flex-control-nav {bottom: -40px;}

/*flex slider thumbs for carousel - small thumbs*/
.slider-img-wrap-small {height:80px; line-height: 70px; display: flex !important; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.slider-img-wrap-small a {margin:0 auto !important; vertical-align:middle; display:inline-block;}
.slider-img-wrap-small img {max-height:80px !important; margin: 0 auto !important; display: inline-block !important; width: auto !important; max-width: 100% !important;}
#slider-carousel-thumbs .flex-direction-nav a {top: 56% !important;}
#slider-carousel-thumbs .slides li {cursor: pointer;}

#synced-slider {border: 1px solid #eee; padding: 2px; background-color: #f4f4f4; border-radius: 2px;}

/*enable arrows where slider last image reaches - use this class with .flexslider to enable in synced slider with thumbs*/
.prev-next-enabled .flex-direction-nav .flex-disabled {cursor: default; z-index: 10;}

/*enable left and right side space for slider arrows*/
.flexslider.left-right-space {padding: 0 40px;}

.flex-direction-nav a.flex-next:before {margin-left: 2px;}

.no-directional-arrows .flex-direction-nav {display: none;}

.flex-arrows-space .flex-direction-nav .flex-prev, 
.flex-arrows-space.flexslider:hover .flex-direction-nav .flex-prev
{left: 10px !important;}
.flex-arrows-space .flex-direction-nav .flex-next,
.flex-arrows-space.flexslider:hover .flex-direction-nav .flex-next
{right: 10px !important;}

/*flexslider with static thumbs instead of carousel thumbs*/
.flex-no-nav .flex-control-thumbs li {height:80px; line-height: 80px; display: inline-block !important; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee; margin: 2px; width: 24%; float: none;}
.flex-no-nav .flex-control-thumbs li img {max-height:80px !important; margin: 0 auto !important; display: inline-block !important; width: auto !important; max-width: 100% !important;}

/*Change flexslider icons*/
.flex-direction-nav a {width: 30px; height: 30px; background-color: #000; border-radius: 50%; text-align: center;}
.flex-direction-nav a:before {font-size: 16px; color: #fff; line-height: 30px;}
.flex-direction-nav .flex-next {right: -50px; text-align: center;}
.flex-direction-nav .flex-next:before {font-family: "FontAwesome" !important; content: "\f105" !important; margin-left: 2px;}
.flex-direction-nav .flex-prev:before {font-family: "FontAwesome" !important; content: "\f104" !important; margin-right: 2px;}

/*slick slider settings*/
.slick-next {right: 10px; z-index: 10;}
.slick-prev {left: 10px; z-index: 10;}
.slick-prev:before, .slick-next:before {color: #000;}

.slickslider .slide, .bx-slider .slide {position: relative;}
.slickslider .slide .txtBox, .bx-slider .slide .txtBox {position:absolute; top:50%; left:0; right: 0; z-index:998; transition: all 300ms ease;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); -o-transform: translateY(-50%);
  }
.slickslider .slide {width: 100%; height: 100%;}

.slick-fullscreen .slick-slide, .slick-fullscreen .slick-slide div {height: 100vh;}
.slick-fullscreen .slide {height:100vh; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}

.slick-logos .slide {height:80px; line-height: 70px; display: flex !important; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.slick-logos .slide img {max-height:80px !important; margin: 0 auto !important; display: inline-block !important; width: auto !important; max-width: 100% !important;}

/*bx slider*/
.bx-wrapper {margin-bottom: 40px; box-shadow: none; border:0;}
.bx-fullscreen .slide {height: 100vh; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}

.bx-logos .slide {height:80px; line-height: 70px; display: inline-block !important; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee; margin: 2px; width: 24%; float: none;}
.bx-logos .slide img {max-height:76px !important; margin: 0 auto !important; display: inline-block !important; width: auto !important; max-width: 100% !important;}

/*Placeholder*/
.custom-placeholder .form-control::placeholder { 
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ff6600;
}
.custom-placeholder .form-control:-ms-input-placeholder { 
    /* Internet Explorer 10-11 */
    color: #ff6600;
}
.custom-placeholder .form-control::-ms-input-placeholder { 
    /* Microsoft Edge */
    color: #ff6600;
}
.custom-placeholder .form-control::-webkit-input-placeholder { 
  /* Chrome/Opera/Safari */
  color: #ff6600;
}
.custom-placeholder .form-control::-moz-placeholder { 
  /* Firefox 19+ */
  color: #ff6600;
}
.custom-placeholder .form-control:-moz-placeholder { 
  /* Firefox 18- */
  color: #ff6600;
}

.fa-no-label, .fa-w-label {position: relative;}
.fa-no-label .fa {position: absolute; left: 6px; top: 10px;}
.fa-w-label .fa {position: absolute; left: 6px; top: 35px;}
.fa-w-label .form-control, .fa-no-label .form-control {padding-left: 26px;}

.custom-select {position: relative;}
.custom-select .fa {position: absolute; right: 10px; top: 10px;}
.custom-select select { padding-right: 26px;
  appearance: none; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; -o-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.hidden-check, .specify-other, .realradio { display: none; }
.click-change { background:url('../images/cb-off.png') no-repeat left 2px; background-size: 14px 14px; padding-left: 20px !important; }
.check-on { background:url('../images/cb-on.png') no-repeat left 2px; background-size: 14px 14px; padding-left: 20px !important; }
.custom-radios label {padding-left: 0px;}
.custom-radio { background:url('../images/rb-off.png') no-repeat left 2px; background-size: 14px 14px; padding-left: 20px !important; }
.custom-radio-current, .first-radio { background:url('../images/rb-on.png') no-repeat left 2px; background-size: 14px 14px; padding-left: 20px !important; }

/*Fontawesome*/
.address-box-icons li {padding-left: 30px; position: relative; margin-bottom: 10px;}
.address-box-icons .fa {position: absolute; left:0; top: 3px;}


.blog .panel-title {font-family:'Nunito', sans-serif; color:#000;}
.blog .search-panel .form-control {min-width:260px;}
.blog .sidebar-titles h3 {font-size:20px; font-family:'Nunito', sans-serif; color:#1b6fa6; border-bottom:1px solid #eee; padding-bottom:8px;}
.blog .sidebar-titles li {margin:0 0 4px 0; border-bottom:1px solid #eee; padding:4px 0 10px 0;}
.blog .sidebar-titles li a {color:#333;}
.blog .sidebar-titles li a {color:#000;}

.blog .info .fa {color:#CCC;}
.blog .info {padding:10px 0;}
.blog .info .pull-left {font-size:12px;}
.blog .info .pull-left a {margin-right:10px;}
.blog .info .pull-right a {margin:0 2px;}

.blog .single-post .more a {float:left;}
.blog .single-post .more .fa {float:left; margin:5px 0 0 9px; color:#ccc;}
.blog .single-post .title {font-size:28px; margin-top:0; padding-top:0; color:#1b6fa6;}
.blog .post-details {margin-top:20px;}
.blog .post-details p {font-size:16px; line-height:1.7em;}
.blog .single-post .info .fa-facebook {color:#3b5998;}
.blog .single-post .info .fa-twitter {color:#2caae1;}
.blog .single-post .info .fa-google-plus {color:#da4835;}

.blog .signin {margin:160px auto;}
.blog .signin .panel {display:inline-block;}
.blog .signin .panel-title {color:#1b6fa6; font-size:22px;}

.blog .inner-addon {position: relative;}
.blog .inner-addon .glyphicon {position: absolute; padding: 10px; pointer-events: none;}
.blog .left-addon .glyphicon  {left:  0px;}
.blog .right-addon .glyphicon {right: 0px;}
.blog .left-addon input  {padding-left:  30px;}
.blog .right-addon input {padding-right: 30px;}

/*flexslider 4*/

#flexslider4 .tm-left { background-color: #1b8c58; color: #fff; vertical-align: middle; text-align: center; }
#flexslider4 .testimonial-txt { display: table-cell; vertical-align: middle; height: 400px; padding: 20px 60px; }
#flexslider4 .tm-right { background-color: #000; color: #fff; vertical-align: middle; text-align: center; height: 400px; overflow: hidden; }
#flexslider4 .photo-1 { opacity: 0.5; position: absolute; width: 100%; height: 100%; z-index: 999; left: 0; }
#flexslider4 .testimonial-logo { height: 400px; position: relative; overflow: hidden; z-index: 9999; width: 100%; text-align: center; opacity: 1; }
#flexslider4 .testimonial-logo td img {  }
#flexslider4 .tst-btn { border-radius: 20px; background-image: 0; background:transparent; border:2px solid #56b58a; color:#fff; }
#flexslider4 .tst-btn:hover { border-color:#fff; background:transparent; color:#fff; }
#flexslider4 .slider-nav div { display: inline-block; cursor: pointer; margin: 0 10px; }
#flexslider4 .side-blue { background-color:#1e8ad2; }
#flexslider4 .side-blue .tst-btn { border: 2px solid #b8e1fd; }
#flexslider4 .side-orange { background-color:#ff5500; }
#flexslider4 .side-orange .tst-btn { border: 2px solid #ffceb5; }
#flexslider4 .side-purple { background-color:#482b62; }
#flexslider4 .side-purple .tst-btn { border: 2px solid #e1c0ff; }
#flexslider4 .t-words { font-size: 22px; letter-spacing: 1px; font-weight: 100 !important; font-family: 'Nunito', sans-serif; }
#flexslider4 .t-name { margin-top: 10px; font-size: 14px; letter-spacing: 1px; }
#flexslider4 .t-designation { margin-top: -10px; font-size: 14px; letter-spacing: 1px; }
#flexslider4 .testimonial-txt .seperator { display:inline-block; width: 50px; height: 4px; background-color: #fff; opacity: 0.5; border-radius: 10px; }
#flexslider4 #carousel .slides img { width: auto !important; max-width: 100% !important; cursor: pointer; }
#flexslider4 #carousel { margin: 0 80px;  }
#flexslider4 .custom-controls-responsive { text-align: center; display: none; }
#flexslider4 .custom-controls-responsive .prev, .flexslider4 .custom-controls-responsive .next { display: inline-block; margin: 0 10px;  }
#flexslider4.slider { position: relative; }
#flexslider4 .arrow-controls .prev { display: inline-block; position: absolute; left: 22px; bottom: 28px; width: 30px; height: 20px; z-index: 999; }
#flexslider4 .arrow-controls .next { display: inline-block; position: absolute; right: 22px; bottom: 28px; width: 30px; height: 20px; z-index: 999; }
#flexslider4 .arrow-controls .next .fa-lg, .flexslider4 .arrow-controls .prev .fa-lg { padding-left: 5px; color: #000; }
#flexslider4 .flex-control-paging {display: none;}

/*Bootstrap Accordion Starts*/
.accordion-wrap .panel-title {position: relative;}
.accordion-wrap .icon-right .panel-title .fa {display: inline-block; position: absolute; right: 6px; top: 10px; color: #666;}
.accordion-wrap .icon-left .panel-title .fa {display: inline-block; position: absolute; left: 6px; top: 10px; color: #666;}
.accordion-wrap .icon-right .panel-title .icon {display: inline-block; position: absolute; right: 11px; top: 9px; color: #333; font-size: 18px;}
.accordion-wrap .icon-left .panel-title .icon {display: inline-block; position: absolute; left: 11px; top: 9px; color: #333; font-size: 18px;}
.accordion-wrap .icon-left.icon-circle .icon {left: 10px; top: 8px; font-size: 22px;}
.accordion-wrap .panel-title a {display: block; position: relative; z-index: 998; padding: 11px 30px 10px 15px; font-size: 14px; font-weight: bold;}
.accordion-wrap .icon-left.icon-circle .panel-title a {margin-left: 6px;}
.accordion-wrap .icon-left .panel-title a {padding-left: 30px;}
.accordion-wrap .icon-left .panel-body {padding-left: 31px;}
.accordion-wrap .panel-heading {background-image: none !important; padding:0; background-color: #f4f4f4;}
.accordion-wrap .panel-heading:hover {background-color: #eee;}
.accordion-wrap .panel-group .panel {border-radius: 3px;}

.acc-theme-grey .panel-default {border-color: transparent; background-color: #eee;}
.acc-theme-grey .panel-heading, .acc-theme-blue .panel-heading:hover {background-color: transparent; border-color: transparent;}
.acc-theme-grey .panel-default>.panel-heading+.panel-collapse>.panel-body {border-top: 0;}
.acc-theme-grey .panel {box-shadow: none;}
.acc-theme-grey .panel-title a {padding: 12px 30px 10px 15px;}
.acc-theme-grey .icon-left .panel-body {padding-left: 38px;}
/*Bootstrap Accordion Ends*/

.widget-expandable, .widget-expandable-reverse {border-radius: 4px; overflow: hidden;}
.widget-expandable .title, .widget-expandable-reverse .title {background-color: #eee; padding: 10px 15px; background: #eee;}
.widget-expandable .caption, .widget-expandable-reverse .caption {float: left; color: #666; font-size: 15px;}
.widget-expandable .fa, .widget-expandable-reverse .fa {float: right; display: inline-block; margin-top: 5px;}
.widget-expandable .w-body, .widget-expandable-reverse .w-body {background-color: #f4f4f4; padding: 10px 15px; border-top: 1px solid #eee;}

/*Categories Collapse*/
.collapsable .fa-angle-down, .collapsable .fa-angle-up, .collapsable .fa-angle-right {float:right; display: inline-block; margin-top: 2px;}
.collapsable .nav-tab-line {display: none;}
.collapsable .all-cats {font-weight: normal !important;}
.collapsable a {cursor: pointer; display: block; background-color: #f4f4f4; border-radius: 3px; padding: 5px 10px; margin-bottom: 2px; text-transform: uppercase !important; color: #333; text-decoration: none; border-bottom: 1px solid #e6e6e6; margin-left: 4px;}
.collapsable a:first-child {font-weight: bold;}
.collapsable a:hover {color: #000;}
.collapsable .nav {background-color: #f4f4f4; margin-bottom: 2px; margin-left: 4px; margin-top: -4px; padding-bottom: 4px; border-radius: 0px 0px 4px 4px; margin-bottom: 3px; display: none;}
.collapsable .nav li {padding:0; margin:0; text-transform: capitalize !important;}
.collapsable .nav li a {padding:4px 4px 4px 10px; margin:0; text-transform: capitalize !important; color: #666; text-decoration: none; border-bottom: none; font-weight: normal; margin-left: 4px;}
.collapsable .nav li:hover, .collapsable .nav li a:hover {background-color: inherit; color: #000;}
.category-new {background-color: #eee; padding:6px 6px 2px 2px; border-radius: 4px; border-bottom: 1px solid #e6e6e6;}

/*Sliding Menu*/
.sliding-menu-backdrop {background-color:rgba(0,0,0,0.6); position: fixed; 
  left:0; right:0; top:0; bottom:0; z-index: 9991; display: none;
}
.sliding-menu-wrapper {
  background-color: rgba(255,255,255,0.9); position: absolute; 
  left:-320px; top:0; bottom:0; z-index: 9992; 
  width: 300px; box-shadow: 0 0 20px #000;
}
.sliding-menu {padding: 20px;}

/*Partickes JS*/
.particles-wrapper {position: relative; height: 400px;}
canvas{display: block; vertical-align: bottom;}
#particles-js{position:absolute; width: 100%; background-color: #b61924; 
  background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
  left: 0; right: 0; 
  height: 400px;
}
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; 
  font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; 
  font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }

/*Custom Sticky Sidebar*/
.stick-sidebar {position: fixed; top: 0; width:250px;}

.btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.428571429;
        }

/*switch button starts*/
/*just change class and id for each button*/
.switch {margin-top: 6px;}
.cmn-toggle { position: absolute; margin-left: -9999px; visibility: hidden; }
.cmn-toggle + label {display: block;position: relative;cursor: pointer;outline: none;user-select: none;}
input.cmn-toggle-round + label {padding: 2px;width: 50px;height: 20px;background-color: #dddddd;border-radius: 60px;}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;position: absolute;top: 1px;left: 1px;bottom: 1px;content: "";
}
input.cmn-toggle-round + label:before {right: 1px;background-color: #f1f1f1;border-radius: 60px;transition: background 0.4s;}
input.cmn-toggle-round + label:after {
  width: 20px;background-color: #fff;border-radius: 100%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {background-color: #8ce196;}
input.cmn-toggle-round:checked + label:after {margin-left: 27px;}
/*switch button ends*/

