/*######################*/
/*Minimal Media Queries*/
/*######################*/

@media all and (max-width:480px){

}

@media all and (max-width:767px){

}

@media all and (max-width:991px){

}

@media all and (max-width:1199px){
	
}

/*#######################*/
/*Extensive Media Queries*/
/*#######################*/

@media screen and (max-width: 319px) {

}

@media screen and (min-width: 320px) and (max-width: 479px) {

}

@media screen and (min-width: 480px) and (max-width: 639px) {

}

@media screen and (min-width: 640px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1003px) {

}

@media screen and (min-width: 1004px) and (max-width: 1259px) {

}

@media screen and (min-width: 1260px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1365px) {

}

@media screen and (min-width: 1366px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1679px) {

}

@media screen and (min-width: 1680px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
