/*######################*/
/*Minimal Media Queries*/
/*######################*/

@media all and (max-width:1199px) {
	.owl-carousel .item .txtBox {left: 60px; right: 60px;}
	.txtBox .container {width: 100% !important;}
}

@media all and (max-width:991px) {
	.owl-carousel .item .txtBox {left: 40px; right: 40px; text-align: center;}
	.owl-carousel .item .txtBox .container {text-align: center;}
	.owl-carousel .item .txtBox h2, .owl-carousel .item .txtBox p {text-align: center;}

	.flex-direction-nav a {margin: -27px 0 0;}
	.flexslider.gallery {margin-bottom: 50px;}
}

@media all and (max-width:767px) {
	body {-webkit-overflow-scrolling: touch;} /* Lets it scroll lazy on iDevice */
	/*
	bcoz in mobile view dots add extra height - 
	more than image height so 
	we use 30% instead of 50% top or use 50% minus arrows height
	*/
	.owl-nav {
		top: calc(50% - 30px);
		top: -moz-calc(50% - 30px);
		top: -webkit-calc(50% - 30px);
		top: -o-calc(50% - 30px);
	}

}

@media all and (max-width:480px) {
	.owl-dots {margin-top: 10px;}
	.owl-carousel .item .txtBox {left: 40px; right: 40px;}
	.owl-carousel .item .txtBox .container {padding:0;}
	.owl-carousel .item .txtBox h2 {font-size: 14px; line-height: 22px; margin: 0; padding: 0;}
	.owl-carousel .item .txtBox p {font-size: 13px; line-height: 16px;}
	.owl-carousel .item .txtBox a {font-size: 13px !important;}
}

/*#######################*/
/*Extensive Media Queries*/
/*#######################*/

@media screen and (max-width: 319px) {

}

@media screen and (min-width: 320px) and (max-width: 479px) {

}

@media screen and (min-width: 480px) and (max-width: 639px) {

}

@media screen and (min-width: 640px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1003px) {

}

@media screen and (min-width: 1004px) and (max-width: 1259px) {

}

@media screen and (min-width: 1260px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1365px) {

}

@media screen and (min-width: 1366px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1679px) {

}

@media screen and (min-width: 1680px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
