@charset "utf-8";
/* CSS Document */

body { width:100%; height:100%; 
	background:#000 url(../images/main-bg.jpg) no-repeat fixed center top;
}

.heading { font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:200px; text-align:center; color:#FFF; padding:40px 0; text-shadow:1px 1px 10px #000; }

.container-fluid { overflow:hidden;}
.blacktxt, .blank { padding:200px 0; overflow:hidden; }
.white { padding:200px 0; overflow:hidden; background-color:#FFF; }
.black { padding:200px 0; overflow:hidden; background-color:#000; }

.blacktxt .one, .white .one, .black .one, .blank .one { font-size:30px; font-weight:bold; text-align:center; }
.blacktxt .two, .white .two, .black .two, .blank .two { font-size:16px; font-weight:normal; text-align:center; }

.white .one { color:#000; }
.white .two { color:#000; }

.black .one, .blank .one { color:#fff; }
.black .two, .blank .two { color:#fff; }

.blacktxt .one { color:#fff; text-shadow:1px 1px 10px #000; }
.blacktxt .two { color:#fff; text-shadow:1px 1px 10px #000; }

.bg1 {
	width:100%;
	height:auto;
	background: url(../images/bg1.jpg) no-repeat fixed center top;
	background-size: 100% auto;
}

.bg2 {
	width:100%;
	height:auto;
	background: url(../images/bg2.jpg) no-repeat fixed center top;
	background-size: 100% auto;
}

.bg3 {
	width:100%;
	height:auto;
	background: url(../images/bg3.jpg) no-repeat fixed center top;
	background-size: 100% auto;
}

.bg4 {
	width:100%;
	height:auto;
	background: url(../images/bg4.jpg) no-repeat fixed center top;
	background-size: 100% auto;
}

.bg5 {
	width:100%;
	height:auto;
	background: url(../images/bg5.jpg) no-repeat fixed center top;
	background-size: 100% auto;
}

.bg6 {
	width:100%;
	height:auto;
	background: url(../images/bg6.jpg) no-repeat fixed center top;
	background-size: 100% auto;
}